@import 'util/fabric/ui/variables.scss';
@import 'util/fabric/ui/mixins.scss';

$border-width: 1px;
$padding: $grid $grid*4 $grid $grid*1.5;

.gui-tab {

  font: $font;
  background: $white;

  .gui-tab-content {
    background: transparent;
    border: {
      style: solid;
      width: $border-width;
      radius: 0 0 $border-radius $border-radius;
      color: $border-color;
    }
    padding: $grid*1.5;
  }

  .gui-tab-menu-item {
    position: relative;
    display: inline-block;
    padding: $padding;
    cursor: pointer;
    z-index: 1;
    bottom: -1px;
  }

  .gui-tab-item {
    display: none;
  }

  .gui-active {

    &.gui-tab-menu-item {
      background: $white;
      border: {
        color: $border-color $border-color $white $border-color;
        style: solid;
        width: $border-width;
        radius: $border-radius $border-radius 0 0;
      };
    }

    &.gui-tab-item {
      display: block;
    }
  }

}



