@import '../../variables.scss';
@import '../../mixins.scss';

$margin-bottom: $grid*1.5;
$padding: $grid*2.5;
$padding-card-list: $grid*1.5 $grid*2.5;
$body-width: 350px;

.gui-card {

	.gui-card-img {

		margin: 0 0 $margin-bottom 0;
		border-radius: $border-radius $border-radius 0 0;
		width: $body-width;
		height: auto;
	}

	.gui-card-body {
		box-sizing: border-box;
		background: $white;
		border: {
			color: $border-color;
			style: solid;
			width: 1px;
			radius: $border-radius;
		}
		width: $body-width + 2px;
		margin: 0;
		padding: 0 0 $padding 0;
		font-family: Roboto, "Helvetica Neue", sans-serif;
		font-size: 14px;

		.gui-card-title {
			font-size: 20px;
			font-weight: bold;
			margin: 0 0 $margin-bottom 0;
			padding: 0 $padding;
		}

		.gui-card-content-block {
			margin: 0 0 $margin-bottom 0;

			.gui-card-content-block-item {
				border-top: {
					color: $border-color;
					style: solid;
					width: 1px;
				}
				padding: $padding-card-list;
			}

			.gui-card-content-block-item:last-child {
				border-bottom: {
					color: $border-color;
					style: solid;
					width: 1px;
				}
			}
		}

		.gui-content {
			padding: 0 $padding 0 $padding;
		}
	}
}

.gui-content-block {

	&.gui-card-body {
		padding: 0;
		border: none;
	}

	.gui-card-content-block {
		border: {
			color: $border-color;
			style: solid;
			width: 0 1px 0 1px;
		}
	}
}
