@import 'util/fabric/ui/variables.scss';

@mixin gui-spinner() {
	display: inline-block;
	position: relative;
	margin: 4px;
	transform: rotate(-90deg);

	circle {
		fill: transparent;
		stroke: $gray;
	}

	svg {
		position: absolute;
	}

	.circle-inner {
		animation: gui-spin-reverse 2s infinite linear forwards reverse;
	}

	.circle-outer {
		animation: gui-spin 2s infinite linear forwards;
	}
}

@mixin gui-animations {

	@keyframes gui-spin {
		from {
			transform: rotate(-90deg)
		}
		to {
			transform: rotate(270deg)
		}
	}

	@keyframes gui-spin-reverse {
		from {
			transform: rotate(-90deg) scale(0.8);
		}
		to {
			transform: rotate(270deg) scale(0.8);
		}
	}
}
