<h1>FABRIC PLAYGROUND</h1>

<article>

	<h2>Chips</h2>

	<section>

		
			<ul>
				<gui-chip>First</gui-chip>
			</ul>

			<ul>
				<gui-chip>Second</gui-chip>
			</ul>

			<ul>
				<gui-chip>Third</gui-chip>
			</ul>

			<ul>
				<gui-chip>Fourth</gui-chip>
			</ul>

		
	</section>
	<h2>Badges</h2>

	<section>

		
			<ul>
				<gui-chip>First</gui-chip><gui-badge>1</gui-badge>
			</ul>

			<ul>
				<gui-chip>Second</gui-chip><gui-badge>5</gui-badge><gui-badge>6</gui-badge>
			</ul>

			<ul>
				<button>Third</button><gui-badge>B</gui-badge>
			</ul>

			<ul>
				<span>Fourth</span><gui-badge>Badge</gui-badge>
			</ul>

		
	</section>
</article>

