<h1>FABRIC PLAYGROUND</h1>

<article>

    <h2>Buttons</h2>

    <section>

        <ul>
            <li>
                <button gui-button [primary]="true">Primary</button>
            </li>

            <li>
                <button gui-button [secondary]="true">Secondary</button>
            </li>

            <li>
                <button gui-button>Accept</button>
            </li>

            <li>
                <button gui-button>Cancel</button><button gui-button>Cancel</button>
            </li>

        </ul>
    </section>
    <h2>Chips</h2>

    <section>


        <ul>
            <gui-chip [primary]="true">Primary</gui-chip>
        </ul>

        <ul>
            <gui-chip [secondary]="true">Secondary</gui-chip>
        </ul>

        <ul>
            <gui-chip [primary]="true">Accept</gui-chip>
        </ul>

        <ul>
            <gui-chip>Cancel</gui-chip>
            <gui-chip>Cancel</gui-chip>
        </ul>


    </section>

    <h2>Badges</h2>

    <section>


        <ul>
            <button gui-button>Primary</button>
            <gui-badge [primary]="true">1</gui-badge>
            <gui-badge>2</gui-badge>
        </ul>

        <ul>
            <button gui-button>Secondary</button>
            <gui-badge [secondary]="true">12</gui-badge>
        </ul>

        <ul>
            <gui-chip>Accept</gui-chip>
            <gui-badge>B</gui-badge>
        </ul>

        <ul>
            <button gui-button>Cancel</button>
            <gui-badge>Badge</gui-badge>
            <button gui-button>Cancel</button>
        </ul>


    </section>
</article>
